* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
}

header {
  flex-basis: 30vh;
  background-color: #aaaaaa;
  text-align: center;
}

main {
  display: flex;
  flex-grow: 1;
  text-align: center;
}

aside {
  flex-basis: 25%;
  background-color: cadetblue;
}

article {
  flex-grow: 1;
  background-color: chocolate;
}

footer {
  flex-basis: 5vh;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}