.App {
  margin: 20px 20px;
}

.App label {
  display: block;
  margin-top: 20px;
  margin-right: 20px;
}

label:nth-child(1) input {
  margin-left: 55px;
}

label:nth-child(2) input {
  margin-left: 55px;
}

label:nth-child(3) input {
  margin-left: 47px;
}

button {
  margin-top: 20px;
  background-color: white;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
  /* text-transform: uppercase; */
  letter-spacing: .8px;
  transition: .3s;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
}

input[type='checkbox'] {
  margin-left: 0;
  margin-right: 20px;
}

p {
  margin: 0;
  margin-left: 20px;
  display: inline-block;
  font-size: 13px;
  color: red;
}