input {
  font-size: 16px;
  margin-top: 10px;
}

label {
  margin-top: 16px;
}

button.valid {
  margin-top: 20px;
  margin-bottom: 12px;
  padding: 7px 15px;
  text-transform: uppercase;
  border: 1px solid #000000;
  cursor: pointer;
  transition: .4s;
}

button.valid:hover {
  background-color: #5000b9;
  color: #ffffff;
}